<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <link rel="icon" type="image/x-icon" href="faviction.png">
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        
        <h1 style="color:#ffffff;">Invesment Simulator</h1>
<div class="login-wrap">
    <h2> Log in </h2>
        <form method="POST" action="/game">
            <input type="text" name="user" placeholder="Username">
            <br>
            <input type="password" name="pass" placeholder="password">
            <button type="submit">Log in</button>
            <a href="/signUp"> <p> Don't have an account? Register </p></a>
        </form>
        <p>{{error}}</p>
        </div>
        
        
        
    </body>
</html>