<!DOCTYPE html>
<html>
    <head>
        <title>Sign Up</title>
        <link rel="icon" type="image/x-icon" href="faviction.png">
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        
<div class="login-wrap">
    <h2> Sign Up </h2>
        <form method="POST" action="/signUp">
            <input type="text" name="user" placeholder="Username">
            <br>
            <input type="password" name="pass" placeholder="password">
            <button type="submit">Sign Up</button>
        </form>
        <p>{{error}}</p>
        </div>
        
        
        
    </body>
</html>